# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = netease.settings

[deploy:ubuntu-1]
url = http://192.168.1.106:6800/
project = netease
